body {
    background-color: #cef;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

header, main, footer {
    min-width: fit-content;
}

header {
    background-color: #445;
}

header a {
    display: inline-block;
    color: #cef;
    padding: 0.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    flex-grow: 1;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 1200px;
    min-width: 480px;
    margin: 0 auto;
}

h1, h2, h3, p {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

h1, h2, h3 {
    background-color: #fff;
    border-bottom: 3px solid #236;
}

footer {
    background-color: #abd;
}

footer .container {
    display: flex;
    align-content: stretch;
}

.paginator {
    margin: 0.5rem 0.8rem;
}

.paginator a, .paginator span {
    display: inline-block;
    padding: 0.3rem;
    margin: 1px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.paginator span {
    background-color: #dbd;
    color: #236;
}

.paginator form {
    display: inline-block;
}

ul li.cars {
    flex-basis: 15rem;
    border: 1px solid #999;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0
}

ul li.cars img {
    max-width: 20rem;
}

ul.car_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}