{% extends 'autoservice/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Cars in" %} {{ block.super }}{% endblock title %}
{% block content %} 
    <h1>{% trans "Cars" %}</h1>
    <div class="paginator">
        {% if cars.has_other_pages %}
            {% for page_number in cars.paginator.page_range %}
                {% if page_number == cars.number %}
                    <span>{{ page_number }}</span>
                {% else %}
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div> 
    <ul class="car_list">
        {% for car in cars %}
            <li class='cars'>
                <a href="{% url 'car_info' car.id %}">
                    {% if car.cover %}
                        <img src="{{ car.cover.url }}">
                    {% else %}
                        <img src="{% static 'autoservice/img/No-Image-Found.png' %}">
                    {% endif %}
                    <h3>{{ car }}</h3>
                </a>
            </li>
        {% endfor %}
    <ul>
{% endblock content %}