{% extends 'autoservice/base.html' %}
{% load static i18n%}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <h1>{% trans "Order detail" %}: </h1>
    <p>{% trans "Date" %}: {{ order.date }}</p>
    <p>{% trans "Total sum" %}: {{ order.total_sum }}</p>
    <p>{% trans "Car" %}: {{ order.car }}</p>
    <p>{% trans "Service" %}:
        <ul>
        {% for order_line in order.order_lines.all %}
            <li>{{ order_line }}</li>
        {% endfor %}
        </ul>
    </p>
    <h2>{% trans "Comments" %}</h2> 
    {% if user.is_authenticated %}
        <div class="review-form">
            <p>{% trans "Here You could leave your comment" %} .</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">{% trans "Post comment" %}</button></p>
            </form>
        </div> 
    {% endif %}
    {% if order.reviews %}
        {% for review in order.reviews.all %}
            <div class="order-review">
                <h4>{% if review.owner.profile.photo %}
                        <img src="{{ review.owner.profile.photo.url }}">
                    {% else %}
                        <img src="{% static 'autoservice/img/no_profile_photo.png' %}">
                    {% endif %}
                    {{ review.owner }}
                    <span class="float-right">{{ review.created_at }}</span></h4>
                <p>{{ review.content}}</p>
            </div>
        {% endfor %}
    {% endif %} 
{% endblock content %}