{% extends 'autoservice/base.html' %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <h1>Order detail: </h1>
    <p>Date: {{ order.date }}</p>
    <p>Total sum: {{ order.total_sum }}</p>
    <p>Car: {{ order.car }}</p>
    <p>Service:
        <ul>
        {% for order_line in order.order_lines.all %}
            <li>{{ order_line }}</li>
        {% endfor %}
        </ul>
    </p>
    <h2>Comments</h2> 
    {% if user.is_authenticated %}
        <div class="review-form">
            <p>Here You could leave your comment.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Post comment</button></p>
            </form>
        </div> 
    {% endif %}
    {% if order.reviews %}
        {% for review in order.reviews.all %}
            <div class="order-review">
                <h4>{{ review.owner }}
                    <span class="float-right">{{ review.created_at }}</span></h4>
                <p>{{ review.content}}</p>
            </div>
        {% endfor %}
    {% endif %} 
{% endblock content %}