{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "My Orders in" %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "My Orders" %}</h1>
<p><a class="button" href="{% url 'user_order_create' %}">{% trans "New Order" %}</a></p>
<div class="table-grid my-orders-table">
    <div class="table-grid-cell dark">{% trans "License plate number" %}</div>
    <div class="table-grid-cell center dark">{% trans "Order date" %}</div>
    <div class="table-grid-cell center dark">{% trans "Estimate Date" %}</div>
    <div class="table-grid-cell center dark">{% trans "Total amount" %}</div>
    <div class="table-grid-cell center dark">{% trans "Actions" %}</div>
    {% for order in order_list %}
    <div class="table-grid-cell">{{ order.car.plate_number }}</div>
        <div class="table-grid-cell center">{{ order.date }}</div>
        <div class="table-grid-cell center{% if order.is_overdue %} overdue{% endif %}">{{ order.estimate_date }}</div>
        <div class="table-grid-cell center">{{ order.total_sum }}</div>
        <div class="table-grid-cell center">
            {% if order.status == 'n' %}
                <a class="button" href="{% url 'user_order_update' order.pk %}">{% trans "Pay advance" %}</a>
                <a class="button" href="{% url 'user_order_delete' order.pk %}">{% trans "Cancel" %}</a>             
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}