{% extends 'autoservice/base.html' %}
{% load i18n %}
{% block title %}{% trans "Cancel order in " %}{{ block.super }} {% endblock title %}
{% block content %}
<h1>{% if object.status == 'a' %}{% trans "Paying" %}{% else %}{% trans "Cancel" %}{% endif %} {% trans "order" %}</h1>
<form method="post" action="">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to" %} {% if object.status == 'a' %}{% trans "pay" %} {% else %}{% trans "cancel order" %} {% endif %}'{{ object.date }} {{ object.car }}' ?</p>
    <p>
        <button type="submit" class="button">{% trans "YES" %}</button>
        <a href="{% url 'user_orders' %}" class="button">{% trans "No" %}</a>
    </p>
</form>
{% endblock content %}